.c-button {
    background-color: rgb(32, 129, 226);
    border: 2px solid rgb(32, 129, 226);
    padding: 12px 24px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}