.nft-card-container {
    border-radius: 4px;
    overflow: hidden;

    .nft-card-thumbnail {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nft-card-meta {
        &-title {

        }

        &-offer {

        }
    }
}