.nft-modal-container {
    display: flex;

    .nft-modal-thumbnail {
        width: 320px;
        height: 320px;
        border-radius: 10px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nft-modal-meta {
        width: 260px;
        padding-left: 24px;

        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
            color: rgb(4, 17, 29);
        }
    
        &-info {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 8px;
            color: rgb(112, 122, 131);
        }
    }

}